*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 
.holder {
  display: flex;
  justify-content: space-between;   
  flex-wrap: wrap;                  
  width: 100%;
	height: 100%;
  margin: 20px 0;
}
.item {
  width: 15%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: black;
}
.i1 { background: red; }
.i2 { background: blue; }
.i3 { background: green; }